@use "../_mixins" as *;
@use "../00-global" as *;

a {
  @include animation-transition;
  
  &:hover {
    color: $col-primary !important;
  }
  
  &:focus-visible {
    @include border-radius-m;
    @include focus-visible-primary;
  }
}

h6 + p {
  margin-top: 0.5rem !important;
}

main {
  a {
    color: $col-heading !important;
    font-size: inherit;
    font-weight: inherit;

    &[target="_blank"] {
      &:after {
        font: var(--fa-font-solid);
        font-size: 60%;
        content: "\f35d";
        display: inline-block;
        margin-left: 0.25rem;
        position: relative;
        top: -0.5rem;
      }
    }
  }
}

.wp-block-post-title {
  margin-top: 0.25rem !important;
  
  a {
    color: $col-heading !important;

    &:hover {
      color: $col-primary !important;
    }
  }
}

.wp-block-post-date {
  margin-block-start: 0 !important;
  
  time {
    font-size: 0.75rem;
  }
}

.wp-block-separator {
  border-top: $col-border solid 1px;
  border-bottom: none;
  margin: 2rem 0;
}
