@use "../00-global" as *;

footer {
  background-color: $col-secondary-darker;
  padding: 1rem;

  .inner {
    padding: 1rem !important;
    margin: 0 auto;
    padding: 1rem 0.5rem !important;

    @media (min-width: $screen-xsmall) {
      padding: 1rem !important;
    }
    
    @media (min-width: $screen-medium) {
      max-width: $max-width-m;
      padding: 1rem 0 !important;
    }

    @media (min-width: $screen-large) {
      max-width: $max-width-l;
      padding: 1rem 0 !important;
    }
    
    .wp-block-group {
      padding: 0 !important;
    }
  }
  
  .wp-block-group {
    padding: 0 !important;
  }
}
