<!-- wp:template-part {"slug":"header-general","theme":"ksk-portfolio-theme","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"680px"}} -->
<main class="wp-block-group"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"87px"}}} -->
<h2 class="wp-block-heading has-text-align-center" style="font-size:87px">404</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontSize":"size-32"} -->
<p class="has-text-align-center has-size-32-font-size">Something's wrong here</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"size-20"} -->
<p class="has-size-20-font-size">This is a 404 error, which means you've clicked on a bad link or entered an invalid URL. What's your next action gonna be?</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="https://ksk-portfolio.local/">Back to HOME</a></div>
<!-- /wp:button -->

<!-- wp:button {"className":"is-style-outline"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link wp-element-button">Complain KSK</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-general","theme":"ksk-portfolio-theme","area":"footer"} /-->