<!-- wp:template-part {"slug":"header-general","theme":"ksk-portfolio-theme","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"1140px"}} -->
<main class="wp-block-group"><!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false} /-->

<!-- wp:term-description {"textAlign":"center"} /-->

<!-- wp:template-part {"slug":"card-blog-article","theme":"ksk-portfolio-theme","area":"uncategorized"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-general","theme":"ksk-portfolio-theme","area":"footer"} /-->