<!-- wp:template-part {"slug":"header-general","theme":"ksk-portfolio-theme","area":"header"} /-->

<!-- wp:create-block/ksk-wrapper {"screenWidth":"640px"} -->
<section class="wp-block-create-block-ksk-wrapper"><div class="inner" style="max-width:640px"><!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:post-title {"level":3} /-->

<!-- wp:post-terms {"term":"post_tag"} /-->

<!-- wp:post-featured-image /-->

<!-- wp:post-content /--></main>
<!-- /wp:group --></div></section>
<!-- /wp:create-block/ksk-wrapper -->

<!-- wp:template-part {"slug":"footer-general","theme":"ksk-portfolio-theme","area":"footer"} /-->