// Brand Colours
$col-primary-lighter: #E7F9FC;
$col-primary-light: #C1ECF2;
$col-primary: #3EB6C0;
$col-primary-dark: #246D73;
$col-primary-darker: #0C474B;

$col-secondary-lighter: #F8F5F2;
$col-secondary-light: #CAC7C3;
$col-secondary: #565656;
$col-secondary-dark: #393939;
$col-secondary-darker: #232323;

$white: #FFFFFF;

$col-accent-green: #8AB24A;
$col-accent-pink: #FF6086;

// Font Colours
$col-heading: $col-secondary-darker;
$col-copy: $col-secondary;
$col-quiet: $col-secondary-light;

// UI Colours
$col-border: $col-secondary-light;
$col-background: $col-secondary-lighter;
$col-label: $col-secondary-darker;
$col-checked: $col-primary;

// Link
$col-button-default: $col-secondary-darker;
